<p>By <a href="https://github.com/maaront" target="_blank">Matt</a>, <a href="https://github.com/cgillota" target="_blank">Claudia</a>, and <a href="https://github.com/dkopac" target="_blank">Dan</a></p>
<button class="nav-link" id="logout">Logout</button>