<section class="card">
    {{#each results}}
      <div class="result">
        <h3><a class="result-link" data-result-id="{{id}}">{{title}}</a></h3>
        {{#if image}}
          <img class="result-image" src="{{image}}" alt="Result Image">
        {{/if}}
        <p>{{description}}</p>
</section> 