
<div class="d-flex justify-content-around m-5 p-5 text-center align-items-center">
  <div class="hero align-items-start">
    <img src="/assets/300w/LL-LOGO.png" alt="Link Your Leaves Logo" />
    <p>Discover, track, and cultivate your green paradise with the ultimate plant care companion.</p>
  </div>
  <div class="login-card d-flex justify-content-around align-items-center mt-5 p-5">
    <div class="d-flex flex-column align-items-center">
      <h4 class="login-title">CREATE ACCOUNT</h4>
      <form id="login-form" class="form-group"> 
        <div class="d-flex flex-column align-items-center">
          <input id="username-login" type="text" name="username" placeholder="Username" />
          <input id="password-login" type="password" name="password" placeholder="Password" />
        </div>
        <button id="submit" class="btn btn-light" type="submit">Create Account</button>
      </form>
      <p class="create-account-link"><a href="/">Login with an existing account</a></p>
    </div>
  </div>
</div>


{{!-- 

<div class="container mt-5">
  <h1 class="mb-4">Create a new account</h1>
  <form id="signup-form">
    <div class="mb-3">
      <label for="username" class="form-label">Username:</label>
      <input type="text" class="form-control" id="username" placeholder="Username" />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label"></label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
      />
    </div>
    <button type="submit" class="btn btn-primary">Create Account</button>
  </form>
</div> --}}