<main class="container mt-5">
  <h1 class="mb-4">Create a new account</h1>
  <form id="signup-form">
    <div class="mb-3">
      <label for="email" class="form-label"></label>
      <input type="email" class="form-control" id="email" placeholder="Email" />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label"></label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
      />
    </div>
    <button type="submit" class="btn btn-primary">Create Account</button>
  </form>
</main>