
<div class="d-flex justify-content-around m-5 p-5 text-center align-items-center">
  <div class="hero align-items-start">
    <img src="/assets/300w/LL-LOGO.png" alt="Link Your Leaves Logo" />
    <p>Discover, track, and cultivate your green paradise with the ultimate plant care companion.</p>
  </div>
  <div class="login-card d-flex justify-content-around align-items-center mt-5 p-5">
    <div class="d-flex flex-column align-items-center">
      <h4 class="login-title">CREATE ACCOUNT</h4>
      <form id="create-account-form" class="form-group"> 
        <div class="d-flex flex-column align-items-center">
          <input id="username-input" type="text" name="username" placeholder="Username" />
          <input id="password-input" type="password" name="password" placeholder="Password" />
        </div>
        <button id="submit" class="btn btn-light" type="submit">Create Account</button>
      </form>
      <p class="create-account-link"><a href="/">Login with an existing account</a></p>
    </div>
  </div>
</div>

<script src="/js/create-account.js"></script>