<main class="container mt-5">
  <div class="row">
    <div class="col-12"> 

 <header>
      
    </header>

      <h1 class="mb-4">Dashboard</h1>
      <a href="/newpost" class="btn btn-primary">Recent Care History</a>
    </div>
  </div>
  <br>

User name: {{user.user_name}}
  {{#each user.plants as |plant|}}
    Plant name: {{plant.common_name}}
    Scientific Name: {{plant.scientific_name}}
  {{/each}}
 
</main> 