<div class="row">

  <div class="text-center col-6">
    <h1>Welcome!</h1>
  </div>

  <div class="col-6">
    <div>
     <a href="/signup"><button class="btn btn-primary">Create an account</button></a>
    </div>
    <div>
      
        <a href="/login"><button class="btn btn-primary">Login</button></a>
    </div>
  </div>
</div>