<h1>Welcome!</h1>
<card class="login-card">
    Login to your account:
    <form id="login-form">
        <input type="text" name="username" placeholder="Username" />
        <input type="password" name="password" placeholder="Password" />
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="/createaccount">Create one here</a></p>
</card>