<div class="d-flex  justify-content-around m-5 p-5 text-center align-iteams-center">  
      <div style="margin-top: 100px">
        <img src="/assets/300w/LL-LOGO.png" alt="Link Your Leaves Logo" />
        <p>Discover, track, and cultivate your green paradise with the ultimate plant care companion.</p>
      </div>
     <div class="d-flex justify-content-around align-iteams-center text-bg-info mt-5 p-5 bg-blue"> 
       <div class="login-card card">
          Login to your account:
          <form id="login-form">
          <input id="username-login" type="text" name="username" placeholder="Username" />
          <input id="password-login" type="password" name="password" placeholder="Password" />
          <button id="submit"  type="submit">Login</button>
         </form>
         <p><a href="/users/create-account">Create an account</a></p>
       </div> 
     </div> 
</div>