<img src="/assets/300w/LL-LOGO.png" alt="Link Your Leaves Logo" />
<p>Discover, track, and cultivate your green paradise with the ultimate plant care companion.</p>
<div class="login-card">
    Login to your account:
    <form id="login-form">
        <input id="username-login" type="text" name="username" placeholder="Username" />
        <input id="password-login" type="password" name="password" placeholder="Password" />
        <button id="submit"  type="submit">Login</button>
    </form>
    <p><a href="/users/create-account">Create an account</a></p>
</div>
