<img src="/assets/300w/LL-LOGO.png" alt="Link Your Leaves Logo" />
<p>Discover, track, and cultivate your green paradise with the ultimate plant care companion.</p>
<card class="login-card">
    Login to your account:
    <form id="login-form">
        <input type="text" name="username" placeholder="Username" />
        <input type="password" name="password" placeholder="Password" />
        <button type="submit">Login</button>
    </form>
    <p><a href="/createaccount">Create an account</a></p>
</card>