<div>
<ul>
<li>Name: <span id="common-name">{{common_name}}</span></li>
<li>Scientific name: <span id="scientific-name">{{scientific_name}}</span></li>
<li><img src="{{image_url}}"></li>
</ul>
</div>

<button id="add-plant">Link this Leaf!</button>

<a href="/plant/search">Back to search</a>
<script src="/js/plant-add.js"></script>
