<div>
  <div>
    <h1>Plant Search</h1>
    <p>Use the form to search for a plant. Click on the plant to learn more and
      add it to your diary.</p>
  </div>
  <!-- Search form -->
  <form id="search-form">
    <input type="text" id="search-input" placeholder="Search for any Plant" />
    <button type="submit">Search</button>
  </form>
</div>

<div>
  <!-- Search results -->
  <h2>Search Results</h2>
  <div id="search-results">
    {{#each plants}}
      <div class="result">

        <p>{{this.common_name}}</p>

      </div>
    {{else}}
      <p>No results found.</p>
    {{/each}}
  </div>
</div>
<script src="/js/plant-search.js"></script>