
  <h1>Plant Search</h1>
<p>Use the form to search for a plant. Click on the plant to learn more and add it to your diary.</p>
  <!-- Search form -->
  <form id="search-form">
    <input type="text" id="search-input" placeholder="Search for any Plant">
    <button type="submit">Search</button>
  </form>
<!-- Search results -->
  <h2>Search Results</h2>
  <div id="search-results">
    {{#each plants}}
      <div class="result">
        
        <a href="{{this.common_name}}">{{this.common_name}}</a> <br />
         
      </div>
    {{else}}
      <p>No results found.</p>
    {{/each}}
  </div>
  <script src="/js/plant-search.js"></script>

