
  <h1>Link your leaves</h1>
<p>Use the form to search for a plant. Click on the plant to learn more and add it to your diary.</p>
  <!-- Search form -->
  <form id="search-form" class="form-group">
    <input type="text" id="search-input" placeholder="&#xF002; SEARCH FOR NEW PLANTS" style="font-family:Arial, FontAwesome"/>
    
  </form>
</div>

<div>
  <!-- Search results -->
  
  <div id="search-results">
    {{#each plants}}
    
      <div class="result">
        
        {{!-- <a href="{{this.common_name}}">{{this.common_name}}</a> <br /> --}}
         
      </div>
    {{!-- {{else}}
      <p>No results found.</p> --}}
    {{/each}} 
  </div>
</div>
<script src="/js/plant-search.js"></script>