<main class="container mt-5">
  <div class="row justify-content-center search-page-container">
    <div class="col-12">
      <header>
        <h1 class="mb-4 text-center">Plant Search</h1>
      </header>
    </div>
    <br>
<!-- Search form -->
<div class="container">
  <div class="row search-page-container justify-content-center">
    
    <div class="text-center">
      <p>Use the form to search for a plant.<br>Click on the plant to learn more and add it to your database.</p>
      <form id="search-form" class="form-group">
        <input type="text" id="search-input" class="form-control" placeholder="&#xF002; SEARCH NEW PLANTS" />
      </form>
    </div>
  </div>

  <div id="search-results" class="row justify-content-center gap-3"></div>
</div>

<script src="/js/plant-search.js"></script>
