:root {
  --dark: #03172c;
  --light: #f3f3f3;
  --accent: #7a97e0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.row.search-page-container {
  justify-content: center;
  margin-top: 20px;
}

.hero {
  padding-right: 150px;
}

.login-card {
  background-color: var(--accent);
  color: var(--light);
  width: 100%;

}

.login-title {
  padding-bottom: 20px;
}

#login-form input[type="text"],
#login-form input[type="password"] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--light);
  text-align: center;
  color: var(--light);
  line-height: 0;
  margin-bottom: 30px;
}

#login-form input[type="text"]::placeholder,
#login-form input[type="password"]::placeholder {
  color: var(--light);
}

.card {
  width: 15rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.card:hover {
  background-color: var(--accent);
}

.card:hover p {
  color: var(--light);
}

.card p a {
  text-decoration: none;
  color: var(--dark);
}

.card-img-top {
  height: 100px;
  overflow: hidden;
  object-fit: cover;
}

.card-img-top img {
  width: 100%;
  object-fit: cover;
}

.search-page-container {
  margin-top: 100px;
}

#search-input {
  font-family: Arial, FontAwesome;
  outline: 0;
  border-width: 0 0 2px;
  border-color: var(--accent);
  color: var(--accent);
  min-width: 200px;
  text-align: center;
}

#search-input:focus {
  outline: none;
}

#search-input::placeholder {
  color: var(--accent);
  opacity: 1;
}

#search-input:-ms-input-placeholder {
  color: var(--accent);
}

#search-input::-ms-input-placeholder {
  color: var(--accent);
}

#search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0 50px 100px;
}

.plant-image {
  width: 100%;
  max-width: 600px;
  aspect-ratio: 3 / 2;
  overflow: hidden;
}

.plant-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.btn-color {
  background-color: var(--accent);
  color: var(--light);
}

.btn-color:hover {
  background: none;
  color: var(--accent);
  border: 1px solid var(--accent);
}

.btn-light {
  background-color: var(--light);
  color: var(--accent);
}

.btn-light:hover {
  background: none;
  color: var(--light);
  border: 1px solid var(--light);
}

#back-to-search {
  margin-top: 50px;
}

#submit {
  margin-top: 25px; 
}

.create-account-link a {
  color: var(--light); 
  font-size: 12px;
}