:root {
  --dark: #03172c;
  --light: #F3F3F3;
  --accent: #7A97E0;
}

.row {
display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.card {
    width: 15rem;
    margin-bottom: 20px;
    min-height: 195px;
} 
  
.card a {
  text-decoration: none;
  color: var(--dark)
}

.plant-link {
  }
  
  .card-img-top {
    height: 100px;
    overflow: hidden;
  }
  
  .card-img-top img {
    width: 100%;
    object-fit: cover;
  }
  
  .card-title {
  }
  
  .card-body {
  }
  
  #search-input {
      outline: 0;
      border-width: 0 0 2px;
      border-color: var(--accent)
    }

    #search-input:focus {
      
    }